{{- if .Values.apiSecret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.apiSecret.name }}
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  apiKeyId: {{ required "apiSecret.apiKeyId is required when apiSecret.create=true" .Values.apiSecret.apiKeyId | toString | b64enc }}
  apiKeySecret: {{ required "apiSecret.apiKeySecret is required when apiSecret.create=true" .Values.apiSecret.apiKeySecret | toString | b64enc }}
{{- end }}
